<html>
<head>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <div ng-app="mainApp">
        <div ng-controller="MainController as vm">
            <div ng-repeat="list in vm.lists">
                <h1>List</h1>
                <div ng-repeat="item in list.items" ng-click="item.done = !item.done">
                    {{item}}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="angular.min.js"></script>
<script src="angular-resource.min.js"></script>
<script src="moment.js"></script>
<script src="shopping.js"></script>
</html>
